
@{
    ViewBag.Title = "RegistroEmpresa";
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registro de Empresa</title>

    <!--CSS-->
    <!--JS-->

</head>

<body>


</body>

</html>

